<template>
  <v-layout>
    <v-flex xs6 mx-auto>
      <h1 class="headline">GitLab Pomodoro</h1>
      <p>
        Welcome to a small app that - I hope - will help you
        manage your time on gitlab issues.
      </p>
      <p>
        To use it, you have to connect you on gitlab instances
        in the <router-link to="/settings">settings page</router-link>.
      </p>
      <p>
        Then you can go to <router-link to="/projects">projects page</router-link>
        to see the projects you have access. By clicking on it,
        you can see the different issues, and export them, with time data.
      </p>
      <p>
        You can also use the
        <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">Pomodoro technique</a>
        on the issues listed.
      </p>
      <p>
        By choosing a duration (by default 25mn), try to keep focus
        on the issue selected, and take 5mn of break.
      </p>
      <p>
        Time spent on an issue is automatically added to the issue time tracking
        thanks to the gitlab API.
      </p>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'home',
  data: () => ({
    APP_ID: 'mdartic',
    REDIRECT_URI: 'http://localhost:8080/#/oauth_redirect',
    STATE_HASH: '7F9BA37BA668231B992EA88B996EACE5',
  }),
  computed: {
    gitlabUrl () {
      return `https://gitlab.com/oauth/authorize?client_id=${this.APP_ID}&redirect_uri=${this.REDIRECT_URI}&response_type=code&state=${this.STATE_HASH}`
    },
  },
}
</script>
