<template>
  <v-layout>
    <v-flex xs6 mx-auto>
      <h1 class="headline">Settings</h1>
      <p>
        Please choose the instance you want to connect.
      </p>
      <p>
        If your gitlab instance is not referenced,
        you can extend the code yourself to add your appId's.
      </p>
      <v-form>
        <v-select
          label="Current instance"
          :items="availableInstances"
          v-model="currentInstanceId"
        />
        <span v-if="currentInstance.token">
          Token defined : {{currentInstance.token}}
        </span>
        <span v-else>
          Token undefined.
          Please connect to your instance.
        </span>
        <br>
        <v-btn color="primary" @click="connect">
          <span v-if="currentInstance.token">
            Reconnect to gitlab
          </span>
          <span v-else>
            Connect to gitlab
          </span>
        </v-btn>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>

import OAuth from '@/services/oauth'
import { SET_GITLAB_CURRENT_INSTANCE_NS, SET_TOKEN_NS } from '@/store/settings'

export default {
  name: 'settings',
  computed: {
    availableInstances () {
      return this.$store.state.settings.availableInstances
    },
    currentInstanceId: {
      get () {
        return this.$store.state.settings.currentInstanceId
      },
      set (val) {
        this.$store.dispatch(SET_GITLAB_CURRENT_INSTANCE_NS, val)
      },
    },
    currentInstance () {
      return this.$store.getters['settings/currentInstance']
    },
  },
  methods: {
    connect () {
      const url = OAuth.getUrlGitlabOAuth(
        this.currentInstance.url,
        this.currentInstance.appId,
        this.currentInstance.hash
      )
      window.location = url
    },
  },
  created () {
    if (this.$route.query.access_token) {
      this.$store.dispatch(SET_TOKEN_NS, {
        token: this.$route.query.access_token,
        instanceId: this.currentInstanceId,
      })
    }
  },
}
</script>
