<template>
  <v-layout>
    <v-flex xs12 sm10 md9 xl6 mx-auto>
      <h1 class="headline">Timer</h1>
      <v-container>
        <v-layout wrap>
          <v-flex xs12 text-xs-center>
            <p v-if="timerInError" class="error--text">
              {{pomodoro.errorMessage}}
            </p>
            {{ pomodoro.type }}
            <br>
            <v-progress-circular
              :size="200"
              :width="5"
              :rotate="-90"
              :value="pomodoro.progress"
              color="primary"
            >
              <span
                :style="{ 'font-size': '2rem', 'text-align': 'center' }"
              >
                {{ pomodoro.remainingTime }}
              </span>
              <v-select
                v-model='period'
                id='period'
                :items="pomodoro.periodsFocusAvailables"
                v-if="timerIsStopped || timerIsFinished || timerInError"
                :style="{ width: '75px' }"
              />

            </v-progress-circular>
          </v-flex>
          <v-flex xs12 text-xs-center>
            <v-btn
              color="primary" flat
              @click='start'
              v-if="! timerIsRunning && ! timerIsFinished"
            >
              <v-icon>play_circle_outline</v-icon>
              Start
            </v-btn>
            <v-btn
              color="primary" flat @click='pause'
              v-if="timerIsRunning && timerIsOfTypeFocus"
            >
              <v-icon>pause_circle_outline</v-icon>
              Pause
            </v-btn>
            <v-btn
              v-if="timerIsRunning"
              color="primary" flat @click='stop'
            >
              <v-icon>stop</v-icon> Stop
            </v-btn>
            <v-btn
              v-if="timerIsFinished && timerIsOfTypeFocus"
              color="primary" flat @click='takeBreak'
            >
              <v-icon>free_breakfast</v-icon> Take a break
            </v-btn>
            <v-btn
              v-if="timerIsOfTypeLeisure"
              color="primary" flat @click='restart'
            >
              <v-icon>loop</v-icon> Restart timer
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
      <h1 class="headline">Records</h1>
      <v-data-table
        :items="pomodoro.records"
        :headers="headers"
      >
        <template slot="items" slot-scope="props">
          <tr>
            <td>
              <a :href='props.item.issue.web_url' target='_blank'>
                #{{ props.item.issue.iid }} {{ props.item.issue.title }}
              </a>
            </td>
            <td>
              {{ props.item.issue.time_stats.total_time_spent | time }}
            </td>
            <td>{{ props.item.spentTime | time }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'
import {
  POMODORO_PAUSE_NS,
  POMODORO_START_NS,
  POMODORO_STOP_NS,
  POMODORO_SET_PERIOD_NS,
  POMODORO_RESET_RECORDS_NS,
  POMODORO_GETTERS_TIMER_IS_RUNNING,
  POMODORO_GETTERS_TIMER_IS_FINISHED,
  POMODORO_GETTERS_TIMER_IS_STOPPED,
  POMODORO_GETTERS_TIMER_IN_ERROR,
  POMODORO_GETTERS_TIMER_IS_OF_TYPE_FOCUS,
  POMODORO_GETTERS_TIMER_IS_OF_TYPE_LEISURE,
  POMODORO_RESTART_NS,
} from '@/store/pomodoro'
import api from '@/services/api'

export default {
  name: 'timer',
  data () {
    return {
      headers: [{
        text: 'Issue',
        align: 'left',
        value: 'issue',
      }, {
        text: 'Time already spent',
        value: 'spentTime',
        align: 'left',
      }, {
        text: 'Time being recorded',
        value: 'spentTime',
        align: 'left',
      }],
    }
  },
  computed: {
    ...mapGetters({
      timerIsRunning: POMODORO_GETTERS_TIMER_IS_RUNNING,
      timerIsFinished: POMODORO_GETTERS_TIMER_IS_FINISHED,
      timerIsStopped: POMODORO_GETTERS_TIMER_IS_STOPPED,
      timerInError: POMODORO_GETTERS_TIMER_IN_ERROR,
      timerIsOfTypeFocus: POMODORO_GETTERS_TIMER_IS_OF_TYPE_FOCUS,
      timerIsOfTypeLeisure: POMODORO_GETTERS_TIMER_IS_OF_TYPE_LEISURE,
    }),
    pomodoro () {
      return this.$store.state.pomodoro
    },
    period: {
      get () {
        return this.$store.state.pomodoro.periodFocus
      },
      set (newVal) {
        this.$store.dispatch(POMODORO_SET_PERIOD_NS, newVal)
      },
    },
  },
  methods: {
    /**
     * Save the current records of pomodoro
     */
    takeBreak () {
      this.pomodoro.records.forEach(r => {
        api.addTimeToIssue({ ...r.issue, spent_time: r.spentTime + 's' })
      })
      this.$store.dispatch(POMODORO_RESET_RECORDS_NS)
      this.start()
    },
    ...mapActions({
      start: POMODORO_START_NS,
      pause: POMODORO_PAUSE_NS,
      stop: POMODORO_STOP_NS,
      restart: POMODORO_RESTART_NS,
    }),
  },
}
</script>
<style>
.progress-circular__info {
  text-align: center;
}
</style>
