<template>
  <div v-if='project'>
    <h2 class="headline pa-2 mb-0">
      <img
        v-if='project.avatar_url'
        :src='project.avatar_url + "?access_token=ec4a044849f66bc1c48c92c044db9504af988a6ca0e59404eab4c611f27c266c"'
        :style="{'border-radius': '50%', 'display': 'inline', 'max-width': '1.5em', 'vertical-align': 'middle'}"
      >
      [{{project.id}}] {{project.name_with_namespace}}
    </h2>
    <v-btn outline target="_blank" :href="project.web_url">
      Home
      <v-icon right small>open_in_new</v-icon>
    </v-btn>
    <v-btn outline target="_blank" :href="project.web_url + '/boards'">
      Board
      <v-icon right small>open_in_new</v-icon>
    </v-btn>
    <v-btn outline target="_blank" :href="project.web_url + '/issues'">
      Issues
      <v-icon right small>open_in_new</v-icon>
    </v-btn>
    <v-btn outline target="_blank" :href="project.web_url + '/pipelines'">
      Pipelines
      <v-icon right small>open_in_new</v-icon>
    </v-btn>
    <v-btn outline target="_blank" :href="project.web_url + '/wikis'">
      Wiki
      <v-icon right small>open_in_new</v-icon>
    </v-btn>
    <div class="pa-2" v-if="project.description">
      {{project.description}}
    </div>
    <v-container grid-list-md class="pa-2">
      <v-layout row wrap>
        <v-flex xs3>
          <v-select
            :items="issueStatesFilterOptions"
            v-model="issueStateFilterModel"
            label="State"
          />
        </v-flex>
        <v-flex xs3>
          <v-select
            :items="labels"
            item-text="title"
            item-value="id"
            v-model="issueLabelsFilterModel"
            label="Labels"
            multiple
          />
        </v-flex>
        <!-- <v-flex xs3>
          <v-select
            :items="milestones"
            item-text="title"
            item-value="id"
            v-model="milestoneFilterModel"
            label="Milestone"
            multiple
            bottom
          />
        </v-flex> -->
        <v-flex xs3 >
          <v-btn flat color='primary' @click='generateExport()'>
            <span v-if='generatingExport === true'>
              exporting...
              <v-progress-circular
                indeterminate
                color='danger'
              />
            </span>
            <span v-else>
              export time data
              <v-icon>file_download</v-icon>
            </span>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <div class='text-xs-center'>
      <v-pagination
        circle
        :length='Math.ceil(issues.length / pagination.rowsPerPage)'
        v-model='pagination.page'
      />
    </div>

    <v-data-table
      :items='issues'
      :loading='project.loadingIssues'
      :pagination.sync='pagination'
      :headers='headers'
      v-model="selected"
    >
      <template v-slot:headers="props">
        <tr>
          <th :style="{width: '1em', padding: '1em'}">
            <v-checkbox
              :input-value="props.all"
              :indeterminate="props.indeterminate"
              primary
              hide-details
              @click.stop="toggleAll"
            />
          </th>
          <th
            v-for="header in props.headers"
            :key="header.text"
            :class="[
              'column',
              header.sortable ? 'sortable': '',
              pagination.descending ? 'desc' : 'asc',
              header.value === pagination.sortBy ? 'active' : ''
            ]"
            :style="{
              width: header.width || 'auto'
            }"
          >
            <v-icon v-if="header.sortable" small>arrow_upward</v-icon>
            {{ header.text }}
          </th>
        </tr>
      </template>
      <template slot='items' slot-scope='props'>
        <tr v-if='props.item.editable === true'>
          <td :style="{width: '1em', padding: '1em'}">
            <v-checkbox
              :input-value="props.selected"
              primary
              hide-details
              @click.stop="toggleItemSelected(props.item)"
            />
          </td>
          <td>
            #{{ props.item.iid }} {{ props.item.title }}
          </td>
          <td>
            <v-select
              slot="input"
              single-line
              :items="issueStatesEditOptions"
              v-model="currentItemEdited.state_event"
              hide-details
              class="pa-0"
            />
          </td>
          <!-- <td>
            <v-select
              slot="input"
              :items="project.milestones"
              item-text="title"
              item-value="id"
              v-model="currentItemEdited.milestone_id"
              hide-details
              class="pa-0"
            />
          </td> -->
          <td>
            <v-select
              slot="input"
              :items="labels"
              item-text="title"
              item-value="id"
              v-model="currentItemEdited.labels"
              label="Labels"
              multiple
              hide-details
              class="pa-0"
            />
          </td>
          <td>
            <v-text-field
              v-model='currentItemEdited.time_estimate'
              suffix='mn'
              class='input-text pa-0'
              hide-details
              :disabled="selected.length > 0"
            />
          </td>
          <td>
            <v-text-field
              v-model='currentItemEdited.spent_time'
              suffix='mn'
              prefix='add'
              class='input-text pa-0'
              hide-details
              :disabled="selected.length > 0"
            />
          </td>
          <td>
            <v-btn icon class="mx-0" @click="saveItem(props.item)">
              <v-icon color='success'>save</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="cancelItem(props.item)">
              <v-icon color='warning'>cancel</v-icon>
            </v-btn>
          </td>
        </tr>
        <tr v-else>
          <td :style="{width: '1em', padding: '1em'}">
            <v-checkbox
              :input-value="props.selected"
              primary
              hide-details
              @click.stop="toggleItemSelected(props.item)"
            />
          </td>
          <td>
            #{{ props.item.iid }} {{ props.item.title }}
          </td>
          <td>{{ props.item.state }}</td>
          <td>
            <span :key="l" v-for="(l, index) in props.item.labels">
              <span v-if="index > 0">,</span>
              {{l}}
            </span>
          </td>
          <!-- <td>{{ props.item.milestone.title }}</td> -->
          <td>
            {{ Math.round(props.item.time_stats.time_estimate / 60) }} mn /
            {{ Math.round(props.item.time_stats.time_estimate / 360) / 10 }} h
          </td>
          <td>
            {{ Math.round(props.item.time_stats.total_time_spent / 60) }} mn /
            {{ Math.round(props.item.time_stats.total_time_spent / 3600) }} h
          </td>
          <td>
            <v-btn icon class="mx-0" @click="editItem(props.item)">
              <v-icon color='primary'>edit</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="start(props.item)">
              <v-icon color='primary'>timer</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" :href='props.item.web_url' target='_blank'>
              <v-icon color='primary'>open_in_new</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
  <div v-else class="no-project">
    <h3 class="headline text-xs-center">
      Please select a project first
    </h3>
  </div>

</template>

<script>
/* eslint camelcase: 0 */

import { mapActions } from 'vuex'
import {
  POMODORO_PAUSE_NS,
  POMODORO_START_NS,
  POMODORO_STOP_NS,
} from '@/store/pomodoro'

export default {
  name: 'project',
  props: [
    'project',
    'exportTimeData',
    'updateIssue',
  ],
  data () {
    return {
      title: 'hello world',
      generatingExport: false,
      pagination: {
        rowsPerPage: -1,
      },
      issueStatesFilterOptions: ['opened', 'closed', ''],
      issueStateFilterModel: 'opened',
      issueStatesEditOptions: ['reopen', 'close', ''],
      issueLabelsFilterModel: [],
      milestoneFilterModel: '',
      currentItemEdited: null,
      selected: [],
      headers: [{
        text: 'issue',
        value: 'id',
        align: 'left',
        sortable: true,
        width: '300px',
      }, {
        text: 'state',
        value: 'state',
        align: 'left',
        sortable: true,
        width: '80px',
      }, {
        text: 'labels',
        value: 'labels',
        align: 'left',
        sortable: true,
        width: '150px',
      // }, {
      //   text: 'milestone',
      //   value: 'milestone.title',
      //   align: 'left',
      //   sortable: true,
      //   width: '100px',
      }, {
        text: 'time estimate',
        value: 'time_stats.time_estimate',
        align: 'left',
        sortable: true,
        width: '100px',
      }, {
        text: 'time spent',
        value: 'time_stats.total_time_spent',
        align: 'left',
        sortable: true,
        width: '100px',
      }, {
        text: 'actions',
        value: 'title',
        sortable: false,
        width: '120px',
      }],
    }
  },
  computed: {
    issues () {
      return this.project.issues.filter(i => {
        let isOK = true
        if (
          this.issueStateFilterModel &&
          i.state !== this.issueStateFilterModel
        ) {
          isOK = false
        }
        if (
          this.milestoneFilterModel &&
          this.milestoneFilterModel.length > 0 &&
          this.milestoneFilterModel.findIndex(m =>
            (m === null ? i.milestone.id === undefined : m === i.milestone.id)
          ) === -1
        ) {
          isOK = false
        }
        // exclude issues that don't have a label selected
        if (
          this.issueLabelsFilterModel &&
          this.issueLabelsFilterModel.length > 0
        ) {
          this.issueLabelsFilterModel.forEach(l => {
            if (!i.labels || !i.labels.includes(l)) {
              isOK = false
            }
          })
        }
        return isOK
      })
    },
    milestones () {
      let milestones = [{ title: 'No milestone', id: null }]
      if (this.project.milestones) milestones = milestones.concat(this.project.milestones)
      return milestones
    },
    labels () {
      let labels = []

      if (this.project.labels) labels = labels.concat([...this.project.labels])
      return labels
    },
  },
  methods: {
    generateExport () {
      this.generatingExport = true
      this.exportTimeData(this.project.id)
        .finally(() => {
          this.generatingExport = false
        })
    },
    editItem (item) {
      if (this.currentItemEdited) this.cancelItem(this.currentItemEdited.item)
      this.currentItemEdited = {
        project_id: item.project_id,
        iid: item.iid,
        milestone_id: item.milestone.id,
        state_event: (item.state === 'opened' ? 'reopen' : 'close'),
        time_estimate: 0,
        spent_time: 0,
        item: item,
      }
      item.editable = true
    },
    cancelItem (item) {
      item.editable = false
      this.currentItemEdited = null
    },
    saveItem (item) {
      let { spent_time, time_estimate, state_event } = this.currentItemEdited
      this.currentItemEdited.spent_time = (spent_time === 0 ? null : spent_time + 'm')
      this.currentItemEdited.time_estimate = (time_estimate === 0 ? null : time_estimate + 'm')
      if (this.selected.length) {
        this.selected.forEach(s => {
          const itemToUpdate = {
            project_id: s.project_id,
            iid: s.iid,
            milestone_id: s.milestone.id,
            state_event,
            item: s,
          }
          // console.log(JSON.parse(JSON.stringify(itemToUpdate)))
          this.updateIssue(itemToUpdate)
        })
      } else {
        this.updateIssue(this.currentItemEdited)
      }
      item.editable = false
      this.currentItemEdited = null
    },
    toggleAll () {
      if (this.selected.length) this.selected = []
      else this.selected = this.issues.slice()
    },
    toggleItemSelected (item) {
      const index = this.selected.indexOf(item)
      console.log('toggle', index)
      if (index >= 0) {
        // remove the current item
        this.selected = this.selected.slice(index, 1)
      } else {
        // add the current item
        this.selected.push(item)
      }
    },
    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },
    ...mapActions({
      start: POMODORO_START_NS,
      pause: POMODORO_PAUSE_NS,
      stop: POMODORO_STOP_NS,
    }),
  },
}
</script>

<style scoped>
.no-project {
  margin: auto;
}
.input-text {
  font-size: 14px;
}
</style>
